<div class="input-mask input-mask-date">
    <input
        {{on 'focusin' this.showMask}}
        {{on 'focusout' this.hideMask}}
        {{on 'input' this.updateInput}}
        value={{this.maskedValue}}
    />
    {{#if this.mutedMaskVisible}}
        <span class="mask">{{this.mutedMask}}</span>
    {{/if}}
</div>
